minhas-financas/minhas-financas/node_modules/
minhas-financas/minhas-financas/node_modules/zone.js/plugins/wtf.min/package.json
minhas-financas/minhas-financas/.angular/cache/15.2.5/babel-webpack/ffdec75675d2dce95c8234d08c85cfcfb32df2aeaf621b861e091b5107286f73.json
minhas-financas/minhas-financas/.angular/cache/