.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
  
  .button {
    display: flex;
    margin-top: 10px;
    justify-content: end;
  }

  .verde{
    color: green;
    font: 500;
  }
  .vermelho{
    color: rgb(216, 28, 28);
    font: 500;
  }